* {
  margin: 0;
  padding: 0;
}

#preStep {
  text-align: right;
  font-size: 1.5rem;
}

#input {
  text-align: right;
  font-size: 2rem;
}

.calculator {
  display: flex;
  flex-direction: row;
}

.containerCalculator {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1rem;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}

.buttons {
  height: 150px;
  font-size: 2rem;
  border-radius: 16px;
  transition: filter 0.3s ease;
}

.buttons:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.history {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.5rem;
  margin: 1rem;
  width: 40%;
  border: 1px solid;
  border-radius: 16px;
}

.history p {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
